body{
    background-color: lightblue;
    color: darkmagenta; 
    font-family: Arial;
    margin: 0px;
}

header{
    background: linear-gradient(to right, red, orange,yellow, green, blue, darkblue, darkslateblue );
    color: lightgreen;
    padding: 15px;
    font-size: 16pt;
}

footer{
    background: linear-gradient(to left, red, orange,yellow, green, blue, darkblue, darkslateblue );
    color: lightgreen;
    margin: 0px;
    font-size: 14pt;
    font-style: italic;
    text-align: right;
    padding: 5px
}

a{
    color: green; 
    text-decoration: none;
    transition: text-shadow,color, text-duration,background-color,font-weight,3s;
}

a:hover{
    color: rgb(15, 131, 23);
    background-color: lightgreen;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.3s;
}

a:active{
    color: rgb(165, 109, 183);
    background-color: lightgreen;
}

a:visited{
    color:green;
}